
<div class="col">
    <table class="table table-bordered">
    <thead>
        <tr>
           
            <th>
               Order ID
            </th>
            <th>
               Create Time
            </th>
            <th>
                Menus
            </th>
             <th>
                Extras
            </th>
            <th>
                Total Price
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.OrderId</td>

            <td>@Model.CreateTime</td>
         @foreach (Menu item in Model.CustomerMenus)
        {
           <td>
                       
                        @if (item.Size.ToString() == "Small")
                        {
                            @item.Name  @item.Price;
                        }
                        else if(item.Size.ToString() == "Medium")
                        {
                            double price;
                            price=(@item.Price) * 0.2;

                            @item.Name @price;
                           
                        }
                        else if(item.Size.ToString() == "Large")
                        {
                            double price2;
                            price2=(@item.Price) * 0.4;

                            @item.Name @price2;
                           
                        }
          </td>         
            
        }
        @foreach (Extra item in Model.CustomerExtras)
        {
                    <td>
                       @item.Name @item.Price
             
                    </td>

        }
        </tr>
       <td>
                    
                    <a class="btn btn-secondary" asp-action="Delete" asp-route-id="@Model.OrderId" onclick="return confirm('Bu siparişi silmek istediğinize emin misiniz?')">Delete </a>
       </td>
    </tbody>

</table>
    </div>
