@using HamburgerProject.Entity.Enums;

@{
    ViewData["Title"] = "Order Ekle";
}
@if (Model != null)
{
    @model AddOrderVM
}



<h1 class="text-warning">Update</h1>

<h4>Order</h4>

<hr />

@if (ViewBag.Bildiri != null)
{
    <div class="text-warning">
        @ViewBag.Bildiri
    </div>
}

<div class="row">
    <div class="col-md-4">

        <form asp-action="OrderAdd" method="post">
             <input type="hidden" asp-for="OrderId"/>
             <input asp-for="UserId"/>
            <div class="form-group">
               <select asp-for="size" class="form-control">
               @foreach (var size in Enum.GetValues(typeof(Size)))
                {
                    <option value="@size">@size.ToString()</option>
                }
               
           </select>

            </div>
             <br />
           <div class="form-group">
                <select asp-for="MenuId" class="form-control">
                   @foreach (Menu item in Model.AdminMenus)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
               
               </select>
                 <label asp-for="MenuQuantity" class="control-label"></label>
                 <input asp-for="MenuQuantity" type="number"/>
                 <div class="form-group">
               
                 
           </div>
            <br />
            <div class="form-group">
            <select asp-for="ExtraId" class="form-control">
               @foreach (Extra item in Model.AdminExtras)
               {
                    <option value="@item.Id">@item.Name</option>
               }
           </select>
                 <label asp-for="ExtraQuantity" class="control-label"></label>
                 <input asp-for="ExtraQuantity" type="number"/>
                 
            </div>

           <br />
            <div class="form-group">
                <label asp-for="CreateTime" class="control-label">@Model.CreateTime.ToString("dd/MM/yyyyy")</label>
           </div>
           <div class="form-group">
                @*<label asp-for="Totalprice" class="control-label"></label>*@
            <input type="hidden" asp-for="Totalprice" class="form-control" readonly />
           </div>
           
            <div class="form-group">
                <input type="submit" value="+ Order" class="btn btn-primary" />
                
            </div>
           
        </form>
    </div>
    <div class="col-md-4">
        @if(Model.CustomerExtras != null && Model.CustomerMenus != null)
        {
            <partial name="_OrderListPartialView"></partial>
        }
            
    </div>

</div>