@{
    ViewData["Title"] = "Listele";
}
@model List<Order>


<div class="row">

    <div class="col">

        <table class="table table-bordered">

            <thead>

                <tr>

                    <th>

                        Id

                    </th>

                    <th>

                        Menu

                    </th>

                    <th>

                        Extras

                    </th>

                    <th>

                        Total Price

                    </th>
                    <th>

                        Order Creating Time

                    </th>

                </tr>

            </thead>

            <tbody>

                 <tr>
                     @foreach (Order item in Model)
                    {
                          <td>

                        @item.Id

                            </td>

                            <td>
                        @foreach (Menu menu in item.Menus)

                        {
                            var MenuName = @menu.Name;
                            
                            var MenuPrice = @menu.Price;
                            <p>
                                Menu Name: @MenuName
                                <hr/>
                                Menu Price: @MenuPrice
                            </p>
                        }
                        

                            </td>

                            <td>

                        @foreach (Extra extra in item.Extras)

                        {
                            var ExtraName = @extra.Name;

                            var ExtraPrice = @extra.Price;
                                <p>
                                        Menu Name: @ExtraName
                                    <hr/>
                                        Menu Price: @ExtraPrice
                                </p>
                        }
                            </td>

                            <td>

                                @item.TotalPrice
                            </td>

                             <td>

                                @item.CreatedTime.ToString("dd/MM/yyyyy")
                            </td>

                            <td>

                                <a class="btn btn-primary" asp-action="OrderUpdate" asp-route-id="@item.Id">Update </a>

                                <a class="btn btn-secondary" asp-action="OrderDelete" asp-route-id="@item.Id" onclick="return confirm('Bu dersi silmek istediğinize emin misiniz?')">Delete </a>

                            </td>

                    }

                          
                 </tr>
            </tbody>



        </table>
        <div> <a class="btn btn-primary" asp-action="OrderCreate">Add </a></div>
    </div>
</div>
   